{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if employee.birthDate %}{{ employee.birthDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{% if employee.gender %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Hiredate</th>
                <td>{% if employee.hireDate %}{{ employee.hireDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ app.session.get('uri_employees_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('employees_edit', { 'id': employee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
